
.login_main{
      padding-top: 10%;
      background-image: url('../../../assets/images/avion.jpg');
      background-position: cover;
      background-position:repeat-y;
      background-position: bottom;
      height: 100vh;
      width: 100%;
    }
    
    .login_heading{
    
        text-align: center;
        color:green;
        margin-bottom: 0px;
        margin-top:0px;
      
    
    }
 
    .login_wrapper{
    max-width:500px;
    margin-left: 32%;
    margin-bottom: 115px;
    box-shadow: 0 12px 200px #e7e7e7;
    padding: 25px;
    }
    
    
    .login_wrapper label{
    font-weight:500;
    font-style: 18px;
    padding: 5px;
    
    }
    
    
    .login_submit{
    
    margin-left: 30%;
    }
    
    .login_submit_button_0 button{
    
    margin-left: 40%;
    margin-top: 20px;
    }
    
    .login_or{
    opacity: 0.7;
    text-align: center;
    font-weight: 400;
    
    }
    .login_or_0{
    opacity: 0.7;
    color: white;
    text-align: center;
    font-weight: 400;
    
    
    }
    .login_or_another{
    text-align: center;
    font-weight:500;
    
    }
    
    .login_form_1{
    margin-top: 80px;
    color: white;
    text-align: center;
    font-weight: 400;
    
    
    }
    .login_check_0{
    
    margin-top: 7px;
    
    }
    .login_check_1{
    
        font-size: 18px;
    margin-left:-305px;
    }
    
    .login_check_1 input[type="checkbox"]{
        width:20px;
        height: 20px;
    margin-top: 0px;
        
        }
    
    
    @media only screen and (max-width: 787px) {
       
    .login_check_0{
    margin-left:90px;
    
    }
    
    .login_wrapper{
        margin-left: 1px;
    }
    
    .login_or_another{
        font-size: 22px;
    }
    
   
    }