<div class="container-fluid login_main">


    <div class="login_wrapper">
        <h1 class="login_heading">¡Viaja ya!</h1>
        <form class="login_form_1" (ngSubmit)="login()" [formGroup]="form">

            <div class="input-group form-group-lg">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="email" type="text" class="form-control" formControlName="username" name="username"
                    placeholder="Email">
            </div><br />

            <div class="input-group form-group-lg">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control" formControlName="password" name="password"
                    placeholder="Password">
            </div>

            <div style="justify-content: center; display: flex; margin-top: 10px;">
                <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid">
                    <div *ngIf="submitted" class="spinner-border text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    Ingresar
                </button>
            </div>
        </form>
    </div>
</div>