<button [attr.id]="'modal'+idModal" type="button" style="display: none;" data-toggle="modal"
  [attr.data-target]="'#'+idModal"></button>

<div class="modal fade" id="{{idModal}}" tabindex="-1" role="dialog" [attr.aria-labelledby]="idModal+'Label'"
  aria-hidden="true" [attr.data-backdrop]="backdrop" [attr.data-keyboard]="esc">
  <div class="modal-dialog modal-dialog-scrollable {{defSize()}}" [ngClass]="{'modal-dialog-centered': centered}"
    role="document">
    <div class="modal-content">
      <div class="modal-header card-header">
        <h5 class="modal-title" id="exampleModalLabel" [innerHtml]="titulo"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" *ngIf="showCloseButton"
          (click)="closeAction.emit('')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>