.card {
    .card-header {
      background-color: #e9ecef;
      display: flex;
  
      .back-icon {
        font-size: 30px;
        line-height: 17px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 20px;
  
        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }
    }
  }
  
  .card-pane {
    width: 100%;
    height: calc(100vh - 139px);
    overflow-y: auto;
  }