<div class="card box card-pane">
  <!-- <div class="card-header">
    <i class="back-icon fa fa-arrow-left" (click)="goBack()"></i>
    <div>
      <h4 class="card-title m-auto" [innerHtml]="titulo"></h4>
    </div>
  </div> -->
  <div class="card-body">
    <ng-content></ng-content>
  </div>
</div>
