<form [formGroup]="formReserva" (ngSubmit)="crear()">
    <div class="form-group">
      <label>Origen</label>
      <input class="form-control input100" type="text" formControlName="origen">
    </div>
    <div class="form-group">
      <label>Destino</label>
      <input class="form-control input100" type="text" formControlName="destino">
    </div>
    <div class="form-group">
      <label>Fecha</label>
      <input class="form-control input100" type="datetime-local" formControlName="fecha">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="formReserva.invalid">Guardar</button>
  </form>