<t-panel titulo="Producto" backMethod="back">

  <!-- 
    <div style="justify-content: end; display: flex;  padding: 10px;">
        <button class="btn btn-primary"  (click)="abrir()">Nueva Reserva</button>
    </div>
    <vt-datatable tabla="Producto" [columnas]="columnas" [acciones]="acciones" (EMISOR)="escucharEventosTabla($event)">
    </vt-datatable> -->



  <br>
  <br>
  <br>
  <div style="justify-content: end; display: flex;  padding: 10px;">
    <button class="btn btn-primary" (click)="abrir()">Nueva Reserva</button>
  </div>
  <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped hover w-100 " cellspacing="0"
    width="100%">
    <thead class="bg-primary text-white">
      <tr>
        <th>ID</th>
        <th>Origen</th>
        <th>Destino</th>
        <th>Fecha</th>
        <th>Opción</th>
      </tr>
    </thead>
    <tbody *ngIf="reservas.length>0">

      <tr *ngFor="let item of reservas; let index=index;">
        <td>{{ item.id }}</td>
        <td>{{ item.origen }}</td>
        <td>{{ item.destino }}</td>
        <td>{{ item.fecha | date :'short' }}</td>
        <td>
          <button class="btn btn-danger" (click)="eliminarReserva(index)" tooltip="ELiminar"><i
              class="fas fa-trash"></i></button>
          <button class="btn btn-success" (click)="editarReserva(index)" tooltip="Editar"><i
            class="fas fa-pencil-alt"></i></button>
        </td>
      </tr>

    </tbody>
  </table>

</t-panel>


<vt-modal [idModal]="idModal" titulo="Reserva" [backdrop]="true" [esc]="false" [centered]="true" size="medium">
 <app-reserva *ngIf="showComponente" [formReserva]="formReserva" [reserva]="reserva" (EMISOR)="escuchar($event)"></app-reserva>
</vt-modal>

