@import "~@ng-select/ng-select/themes/default.theme.css";
/* You can add global styles to this file, and also import other style files */

.centrar{
  justify-content: center;
  display: flex;
  margin: auto;
}
.fontrans{
  background: transparent !important;
}

.dataTables_empty {
  display: none !important;
}


  body{
    background: white;
    &.dark{
      background: #111111;
      transition: .3s ease all;
      ul{
        background: black;
      }
      
      .fondonav{
        background: linear-gradient( 
        30deg
     , #151616,#1a3e57, #53555a, #d5d9dd, #304255);
        height: 50px;
      }

      .divNocturno{
        background: rgb(73, 71, 71) !important;
        button{
          color: white;
        }
      }
    }
  }