<div class="alinear">
    <div class="nav-side-menu">
        <div class="brand">BIenvenido</div>
        <i class="fa fa-bars fa-2x toggle-btn" id="SHowMenu" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                    <a href="/#/home">
                        <i class="fas fa-home"></i> Inicio
                    </a>
                </li>
                <li [routerLink]="['/home/reservas']">
                    <a>
                        <i class="fal fa-money-bill"></i>
                        Mis Reservas
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div style="width: 100%; height: 100vh; position: relative;">
        <nav class="sohwNavbar navbar navbar-dark bg-dark navbar-expand-sm fondonav">
            <div class="collapse navbar-collapse justify-content-end" id="navbar-list-4">
                <ul class="navbar-nav fon-trans fontrans">
                    <li class="nav-item dropleft">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="../../assets/images/angular.png"
                                width="40" height="40" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu divNocturno" aria-labelledby="navbarDropdownMenuLink">
                            <button class="dropdown-item" (click)="salir()"><i class="fas fa-sign-out-alt"></i>Salir</button>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <br>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>